@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&display=swap%27');


* {
    font-family: Lato, sans-serif;
    color:white;
}

.infobox {
    margin: 3rem 1rem 3rem 1rem;
}

footer {
    width: 100vw;
    height: 5rem;
    margin-bottom: none;
    background-color: #111827;
}

#radius {
    display: grid;
    place-items: center;
    position: absolute;
    width: 13rem;
    height: 3rem;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 14px 0px 14px 0px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
@keyframes cfadeIn {
    0% {background: gray;}
    100%{background:white;}
}
@-webkit-keyframes cfadeIn {
    0% {background: gray;}
    100%{background:white  ;}
}
@keyframes slideIn {
    from {margin-left: -60%;}
    to {margin-left:0%}
}
@-webkit-keyframes slideIn {
    from {margin-left: -60%;}
    to {margin-left:0%}
}

@media only screen and (max-width: 1024px) {
    #rad-p {
        position: relative;
    }

    #radius {
        border-radius: 14px 0px 0px 0px;
    }

    #map {
        box-shadow: 5px 5px 10px gray;
    }
}

@media only screen and (min-width: 1024px) {

    body {
        height: 100vh;
        width: 100%;
        position: relative;
    }

    footer {
        position: absolute;
        width: 100vw;
        height: 5rem;
        bottom: 0;
        background-color: #111827;
    }

    #rad-p {
        margin: 5rem 4rem 3rem 5rem;
        height: 65vh;
        width: 65vw;
        position: relative;
    }

    #map {
        height: 65vh;
        width: 65vw;
        border-radius: 15px;
        box-shadow: 5px 5px 10px gray;
    }

    .infobox {
        margin-right: 0rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .infopara {
        margin-top: 1rem;
        width: 20vw;
        height: 58vh;
        background: #4B5563;
        border-radius: 12px;
        padding: 1rem 1rem 1rem 5%;
        box-shadow: 3px 3px 10px #E9E9E9;
        display:relative;
    }
    form{
        font-size: 30px;
        height: 100%;
        width:70%; 
        margin:7% 0;
        text-align:center;
        background:none;
    }

    form input {
        background: none;
        margin-bottom: 6%;
        margin-top: 6%;
        width: 100%;
        border-bottom: 2px solid black;
    }

    form input:not(:placeholder-shown){
        background:none;
        margin-bottom: 8%;
        margin-top: 6%;
        width: 100%;
    }
    form input:hover{
        animation: cfadeIn 5s;
        -webkit-animation: cfadeIn 5s;
        border-radius: 5px;
    }
    .titletext {
        margin-top: 3.5%;
        font-size: 10vh;
        animation: fadeIn 10s, slideIn 5s;
        -webkit-animation: fadeIn 10s, slideIn 5s;
        padding-left: 5vw;
    }
    .titlegradient {
        background: -webkit-linear-gradient(#ec5555, #f0e113);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .subtitlegrad {
        background: -webkit-linear-gradient(#ec5555, #f0e113);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size:3vh;
        text-align: left;
    }
}
