<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AHC</title>
    <link rel="stylesheet" type="text/css" href="../src/css/map.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 5,
                center: { lat: 38, lng: -97 },
            });
            const geocoder = new google.maps.Geocoder();
            document.getElementById("submit").addEventListener("click", () => {
                geocodeAddress(geocoder, map);
            });
        }

        function geocodeAddress(geocoder, resultsMap) {
            const address = document.getElementById("location").value;
            geocoder.geocode({ address: address }, (results, status) => {
                if (status === "OK") {
                    resultsMap.setCenter(results[0].geometry.location);
                    const marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location,
                        title: "Click to Join"
                    });
                    marker.addListener("click", () => {
                        var fname = document.getElementById("fname").value
                        var name = "Aiden"
                        var email = "wenhaobi1999@hotmail.com"
                        var femail = document.getElementById("email").value
                        var location = document.getElementById("location").value
                        var date = document.getElementById("date").value
                        var time = document.getElementById("time").value
                        $.ajax({
                            type: "POST",
                            url: "http://localhost:8000/sendemail/",
                            data: {
                                fname: fname,
                                name: name,
                                email: email,
                                femail: femail,
                                location: location,
                                date: date,
                                time: time
                            },
                            success: function (rtndata) {
                                $('#debug').html(rtndata);
                            }
                        });

                    });

                    // document.getElementById("fname").value = ''
                    // document.getElementById("email").value = ''
                    // document.getElementById("location").value = ''
                    // document.getElementById("date").value = ''
                    // document.getElementById("time").value = ''
                } else {
                    alert(
                        "Geocode was not successful for the following reason: " + status
                    );
                }
            });
        }
    </script>
</head>

<body class="bg-gray-900">
    <div class="titletext">
        <a>STAND TOGETHER &
            <br>FIGHT <span class="titlegradient">RACISM</span>
        </a>

    </div>
    <div class="bg-gray-900 flex flex-wrap">
        <div id="rad-p" class="h-screen w-screen">
            <div id="map" class="h-screen w-screen">
                <div class="object-fill h-full w-full" style="
            border: 1px solid #E9E9E9;
            box-shadow: inset 5px 5px 10px #000000;
            border-radius: 10px;"></div>
            </div>

        </div>
        <div class="infobox">

            <h3 class="subtitlegrad">HOST AN EVENT</h3>

            <form class="text-left w-full" onsubmit="return false">
                <input required type="text" id="fname" name="fname" placeholder="Name"><br>
                <input required type="email" id="email" name="email" placeholder="Email"><br>
                <input required type="text" id="location" name="location" placeholder="Meeting Location"><br>
                <input required type="date" id="date" name="date" placeholder="Date"><br>
                <input required type="time" id="time" name="time">
                <input id="submit" type="submit" value="Submit">
            </form>

        </div>
    </div>


    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAavyzeZW4dixFNhsDOMrqRM7tQImAoZu4&callback=initMap&libraries=&v=weekly"
        async></script>

</body>

</html>

<!-- .highlight {
    background: linear-gradient(to right, #ec5555, #f0e113);
    background-size: 400% 400%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} -->